/* Landscape Tablets */
@media (max-width: 75em) {
  html {
    /* 9px/16px = 56.25% */
    font-size: 56.25%;
  }
  .section-testimonials {
    padding: 9.6rem 3.2rem;
  }
}
/* Tablets */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 48em) {
  /* html {
    font-size: 43.75%;
  } */
}

/* Mobile */
@media (max-width: 36em) {
  .grid {
    display: flex;
    flex-direction: column;
    /* height: 400rem; */
  }
  .imgBx {
    transform: translateX(-25%);
  }
  .testimonial {
    padding: 3.2rem;
    /* flex: 1; */
    /* height: calc(100% / 5); */
  }
  .name {
    font-size: 2rem;
  }
  .verified {
    font-size: 1.8rem;
  }
  .focus {
    font-size: 2.6rem;
  }
  .focus-off {
    font-size: 2rem;
  }
}
